header {
  background-color: #43ac4a;
  padding-top: 35px;
  font-size: clamp(60px, 4vw, 150px);
  font-weight: bold;
  letter-spacing: -4px;
  height: 16%;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  column-gap: 6vh;
  margin-top: 50px;
  margin-inline: 24vh;
}
img {
  min-width: 150px;
  max-width: 630px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 6px 8px 18px black;
}
